<div class="ui animated fluid fade button" (click)="showForm()"  i18n>
	<div class="visible content">Forgotten password</div>
	<div class="hidden content">
	Send me an email
	</div>
</div>
<div [@formEmail] *ngIf="showForgottenPasswordForm"
		(@formEmail.done)="animationDone($event, forgottenPassword.value)">
	<div class="ui hidden divider"></div>
	<div>Please fill your email address:</div>
	<br>
	<div class="ui fluid input">
		<input type="email" name="forgottenPassword" id="email_to_send" [ngModel]="defaultEmail" appEmail #forgottenPassword="ngModel">
	</div>
	<div *ngIf="forgottenPassword.invalid && (forgottenPassword.dirty || forgottenPassword.touched)" class="ui negative message" id="input_email_message">
			<div *ngIf="forgottenPassword.errors.wrongEmail">
					Your email is invalid.
			  	</div>
	</div>
	<br>
	<div class="ui fluid fade button" (click)=sendEmail(forgottenPassword.value) id="send_button">
		Send
	</div>
</div>

<div [@formEmail] *ngIf="goodMessage" [ngClass]="goodMessage?.state ? 'ui positive message' : 'ui negative message'" id="submit_email_message">
	<i class="close icon" (click)="closeMessage()"></i>
	<div class="header">
	{{goodMessage.header}}
	</div>
	<p>{{goodMessage.description}}</p>
</div>
