<div style="width:400px; margin: 0 auto;">
	<div class="ui hidden divider"></div>
	<div class="ui fluid image">
		<a href="">
			<img src="assets/logo.png"/>
		</a>
	</div>
	<div *ngIf="!isLinkValid">
		<app-message [message]="message"></app-message>
		<a href="/login" class="fluid ui button">Go back to login page</a>
	</div>
	<form *ngIf="isLinkValid" #passwordForm="ngForm" (submit)="passwordForm.valid && resetPassword()">
		<div class="form-group">
			<div class="ui fluid icon input">
				<i class="lock icon"></i>
				<input type="password"
					   id="password"
					   name="password"
					   class="form-control"
					   placeholder="password"
					   appNeedNumber
					   appNeedChar
					   appNoSpace
					   minlength="8"
					   required
					   [(ngModel)]="password"
					   #pass="ngModel">
			</div>
			<div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="ui negative message" id="input_password_message">
				<div *ngIf="pass.errors.required">
					Password is required.
			  	</div>
				<div *ngIf="pass.errors.minlength">
					Password must be at least 8 characters long.
				</div>
			  <div *ngIf="pass.errors.needNumber">
				Password should have at least one number.
			  </div>
				<div *ngIf="pass.errors.needChar">
				Password should have at least one letter.
			  </div>
				<div *ngIf="pass.errors.noSpace">
				Password cannot contain whitespace characters.
			  </div>
			</div>
		</div>
		<div class="ui hidden divider"></div>
		<div class="form-group">
			<div class="ui fluid icon input">
				<i class="lock icon"></i>
				<input type="password"
					   id="confirmation"
					   name="confirmation"
					   class="form-control"
					   placeholder="password"
					   appSamePassword={{password}}
					   required
					   [(ngModel)]="confirmation"
					   #conf="ngModel" >
			</div>
			<div *ngIf="conf.invalid && (conf.dirty || conf.touched)" class="ui negative message" id="input_confirmation_message">
				<div *ngIf="conf.errors.required">
					Password is required.
			  	</div>
			  	<div *ngIf="conf.errors.samePassword">
					This password is not same.
			  	</div>
			</div>
		</div>
		<div class="ui hidden divider"></div>
		<div class="ui hidden divider"></div>

		<button type="submit" class="fluid ui button" id="submit_button"
             [disabled]="passwordForm.invalid">Submit</button>
		<div class="ui hidden divider"></div>

		<button type="button" class="fluid ui button" id="reset_button"
             (click)="passwordForm.resetForm({})">Reset form</button>
	</form>
</div>
